# compiled
__pycache__/
*.py[cod]
*$py.class

#distro
.Python
bin/
build/
dist/
downloads/
include/
lib/
lib64/
local/
scripts/
var/
MANIFEST

#environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

pyvenv.cfg
pip-selfcheck.json

#flask
instance/
.webassets-cache